// Flexbox 布局
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// 文本省略
@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-ellipsis-multi($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// 清除浮动
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// 响应式断点
@mixin respond-to($breakpoint) {
  @if $breakpoint == 'sm' {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == 'md' {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == 'lg' {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $breakpoint == 'xl' {
    @media (max-width: 1200px) {
      @content;
    }
  }
}
