@use './variables' as *;
@use './mixins' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $font-family;
  font-size: $font-size-base;
  color: $text-color-base;
  background-color: $bg-color-base;
}

#app {
  min-height: 100vh;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}
