body {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size-base;
  color: $text-color-base;
}

a {
  color: $primary-color;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.el-message {
  z-index: 4000 !important;
}
